/* this file is used to save css styles for mains, header, KA link, content, and footer */

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700&display=swap');

/* MAINS */
body {
    background-color: rgb(241, 241, 241);
    color: black;
    font-family: sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
}

h2 {
    color: rgb(80, 80, 80);
    font-family: "Segoe UI", sans-serif;
    position: relative;
    padding-left: 50px;
}

p a {
    color: brown;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}



/* HEADER */
.navbar {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    z-index: 2;
}

#about-button, #programs-button {
    color: black;
    font-size: 18px;
    text-decoration: none;
    position: fixed;
    top: 37px;
    right: 125px;
}

#programs-button {
    right: 30px;
}

#about-button:hover, #programs-button:hover {
    color: brown;
}

#heading-line {
    width: 100%;
    position: fixed;
    top: 96px;
    left: 0px;
}



/* KHAN ACADEMY LINK (PROGRAMS PAGE) */
#KA-link {
    border: 1px solid rgb(44, 44, 44);
    border-radius: 60px;
    padding: 8.5px 9.5px 8.5px 9.5px;
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 15px;
}

#KA-link:hover {
    border: 1px solid green;
}



/* CONTENT */
#content {
    background-color: rgb(241, 241, 241);
    font-size: 16px;
    width: 100%;
    min-height: 100%;
    
    position: relative;
    top: 95px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 50px;
}



/* FOOTER */
.footer {
    background-color: rgb(44, 44, 44);
    color: white;
    width: 100%;
    height: 300px;
    display: flex;

    position: absolute;
    left: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.footer .footer-section {
    flex: 1; 
    padding-left: 50px;

    /* PASTE THIS:      border: 1px solid red; */
}

.footer .footer-bottom {
    color: rgb(214, 214, 214);
    width: 99%;

    position: absolute;
    bottom: 10px;
    left: 0px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 0px;
}



h3.navi, h3.oris, h3.AI, h3.social-media {
    font-size: 1.35em;
}

p a.navi, p a.oris, p a.AI {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none;
    line-height: 2em;
}

a.navi:hover, a.oris:hover, a.AI:hover {
    color: rgb(150, 150, 150);
}

img.social-media {
    margin-top: 10px;
    margin-right: 30px;
}