/* Import Google Fonts for Headings */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/* Zoom for responsiveness */
@viewport {
	zoom: 1.0;
	width: extend-to-zoom;
} 

@-ms-viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}

/* Defaults */
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
	margin-top: 75px;
	margin-bottom: 25px;
}

p {
	font-family: sans-serif;
	font-size: 1.2em;
	line-height: 1.75em;
	padding-bottom: 50px;
}

a {
	font-family: sans-serif;
	color: brown;
}

a:hover {
	color: brown;
	text-decoration: underline;
}

button.CTA {
	background-color: brown;
	color: white;
	font-size: 18px;
	border: 1.25px solid brown;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	width: 175px;
	padding: 10px;
	margin-top: -25px;
	transition: 0.75s ease background-color;
}

button.CTA:hover {
	background-color: transparent;
	color: brown;
}

/* Navbar */
nav {
	background-color: white;
	width: 100%; 
	z-index: 100;
}

.navbar-style {
	box-shadow: 0 5px 10px #efefef;
}

.logo {
	height: 80px;
	padding: 2px 10px; 
}

.icon-bar {
	background-color: brown;
}

ul.dropdown-menu {
	border: none;
	border-top: 3px solid brown;
	border-radius: 0;
}

li a.nav-link {
	color: black;
	font-size: 1.2em;
	margin-top: 16px;
}

li a.nav-link:hover {
	background-color: transparent;
	color: brown;
}

li a.dropdown-link {
	color: black;
	font-size: 1em;
	padding-top: 7px;
	padding-bottom: 7px;
}

/* Content */
.top {
	margin-top: 150px;
}

.bottom {
	padding-bottom: 0;
	margin-bottom: 0;
}

/* Footer */
.footer {
	background-color: rgb(35, 35, 35);
	color: white;
	width: 100%;
	padding-bottom: 50px;
	margin-top: 125px;
}

h3.footer-title {
	margin-top: 75px;
	margin-bottom: 30px;
}

p.footer-link {
	padding-bottom: 5px;
}

p a.footer-link {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

p a.footer-link:hover {
    color: rgb(150, 150, 150);
}

img.footer-link {
	margin-top: 35px;
    margin-right: 30px;
}
